<div class="row ">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enregister un nouveau livre </h2>
        <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="title">
                <label for="title"> Titre * </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="author">
                <label for="author"> Auteur * </label>
            </div>
            <div class="form-floating mb-3">
                <textarea id="synopsis" class="form-control" formControlName="synopsis">
                </textarea>
                <label for="synopsis">Synopsis</label>
            </div>
            <div class="form-floating mb-3">
                <h4>Ajouter une photo</h4>
                <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
                <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
            </div>
            <button class="btn btn-success" type="submit"
                [disabled]="bookForm.invalid || fileIsUploading">Enregistement</button>
        </form>
    </div>
</div>